
body{
     font-family: 'Poppins', sans-serif;
}
.home-name{
     width: 125px;
}
.navbar{
     display: flex;
     align-items: center;
     padding: 20px;
}
nav{
     flex: 1;
     text-align: right;
}
nav ul{
     display: inline-block;
    
}

nav ul li{
     display: inline-block;
     margin-right: 10px;
}

.search-icon{
     height: 18px;
     width: 18px;
     margin: 0;
     position: relative;
     top: 5px;
     left: 5px;
     
 }
 .search{
      width: 300px;
      padding: 5px;
      border-radius: 15px;
      border: none;
      margin: 0;
      font-size: 15px;
      outline: none;
 }
 
 .search-bar{
      margin-left: 200px ;
      height: 27px;
      width: 270;
      border: 2px solid black;
      border-radius: 20px;
 }


.icon{
     position: relative;
     top: 9px;
}
.login-icon{
     position: relative;
     top: 14px;
}


a{
     text-decoration: none;
     color: var(--secondary);
}
p{
     color: var(--secondary);
}
.home-container{
     max-width: 1300px;
     margin: auto;
     padding-left: 25px;
     padding-right: 25px;
 }

.row{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-around;

}
.section{
     flex-basis: 50%;
     min-width: 300px;
}

.section img{
     max-width: 100%;
     padding: 50px 0;
}

.section h1{
     font-size: 50px;
     line-height: 60px;
     margin: 25px 0;
}

.btn{
     display: inline-block;
     background:var(--button);
     color: var(--white);
     padding: 8px 30px;
     margin: 30px 0;
     border-radius: 30px;
     transition: 0.5s;
}

.btn:hover{
     background-color: var(--hover);
}

.header{
     
}

.home-header .row{
     margin-top: 70px;
}


/*features section*/

.catlogs{
     margin: 80px 0;

}

.female-section{
     flex-basis: 30%;
     min-width: 250px;
     margin-bottom: 30px;
}

.female-section img{
     width: 50%;
}

.feature-container{
     min-width: 1080px;
     margin: auto;
     padding-left: 150px;
     padding-right: 25px;
}

.male-section{
     flex-basis: 25%;
     padding: 0, 0px;
     min-width: 200px;
     margin-bottom: 0px;
     transition: transform 0.5s;
}

.male-section img{
     width: 60%;
}
.rating{

}

.price{
     margin-top: -3px;
}

.title{
     text-align: center;
     margin: 0 auto 80px;
     position: relative;
     line-height: 60px;
     color: var(--secondary);
}
.title::after{
     content: '';
     background: var(--primary);
     width: 80px;
     height: 5px;
     border-radius: 5px;
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translate(-50%);
}

h4{
     color: var(--secondary);
     font-weight: normal;
     margin: 0;
}
.price{
     margin-bottom: 0;
}
.male-section p{
     font-size: 14px;
}

.rating {
     color: var(--rating);
}

.male-section:hover{
     transform: translateY(-5px);
}

/*footer*/



.footer{
     background-color: var(--primary);
     height: 150px;
     width: 100%;
     position: absolute;
     margin-top: 50px;
}

.webmaker{
     text-align: center;
     position: relative;
     top: 30px;
     font-size: 20px;
}

.social{
    background-color: var(--white);
    padding: 5px;
    margin: 4px 20px;
    color: var(--button);
    border-radius: 5px;
}

.footer-social{
     text-align: center;
     margin-top: 60px;
}
