

 .close{
      position: relative;
      bottom: 14rem;
      right: 1.4rem;
 }

 .heart {
      color: var(--heart);
      margin-left: 50px;
 
 }
 .wishlist{
      background: var(--primary);
 }

.wishlist-container{
     margin-top: 5rem;
}
